@font-face {
  font-family: GothamProRegular;
  src: url('../font/GothamProRegular.ttf') format('truetype');
}
@font-face {
  font-family: GothamProBold;
  src: url('../font/GothamProBold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'GothamProBold', 'Comic Sans MS';
  scroll-behavior: smooth;
}
a {
  color: white;
  text-decoration: none;
  font-family: 'GothamProRegular', 'Comic Sans MS';
}
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  vertical-align: middle;
  background: #1d232c;
  color: #fff;
}
.navbar-links {
  display: flex;
  flex: 2;
  flex-wrap: nowrap;
  min-width: 500px;
  justify-content: flex-end;
  font-family: 'GothamProRegular', 'Comic Sans MS';
}
.navbar-links ul {
  list-style-type: none;
  display: inline-block;
}
.navbar-links ul li {
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  border-left: 1px solid #1d232c;
  border-right: 1px solid #1d232c;
  height: 40px;
  text-shadow: 0 0 28px #1d232c;
  transition: 1s;
}
.navbar-links ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-shadow: 0 0 28px white;
}

.navbar-logo {
  display: flex;
  flex: 3;
  align-items: center;
  height: 32px;
  margin-left: 40px;
  padding-left: 40px;
  background: url('../img/white-logo.png') 0 50% no-repeat;
  background-size: 32px;
}
.navbar-logout {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  flex: 1;
}
.navbar-logout-button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 16px;
  font-family: 'GothamProRegular', 'Comic Sans MS';
}
.navbar-logout-button:hover {
  background-color: rgba(255,255,255, 0.1);
  cursor: pointer;
  text-shadow: 0 0 28px white;
  transition: 1s;
}
.firstScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: url('../img/main.png') 50% 50% no-repeat;
  background-size: 100vw;
}
.firstScreen-container {
  display: flex;
  height: 150px;
  flex-direction: row;
}
.firstScreen-box {
  display: flex;
  position: absolute;
  margin-top: 30px;
  width: 700px;
  min-height: 350px;
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 30px;
  flex-direction: row;
  font-family: 'GothamProRegular', 'Comic Sans MS';
}
.firstScreen-box-apear {
  display: flex;
  position: absolute;
  margin-top: 30px;
  width: 700px;
  min-height: 350px;
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 30px;
  flex-direction: row;
  font-family: 'GothamProRegular', 'Comic Sans MS';
  transition: 0.5s;
}
.box-remove {
  margin-left: -50%;
  opacity: 0;
  transition: 0.5s;
}
.box-line {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.hide {
  display: none;
}
.secondScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url('../img/bg2.png') 50% 50% no-repeat;
  background-size: 100vw 100vh;
}

.block {
  display: none;
  position: absolute;
  top: 80px;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background: #1d232c;
  border-radius: 7px;
  padding: 10px;
  padding-left: 20px;
  opacity: 0;
  color: white;
  transition: 0.15s linear;
}
.team-y {
  height: 100vh;
  min-width: 500px;
  flex: 1;
  background: url('../img/y3.png') 50% 50% no-repeat;
  background-size: 400px 400px;
}
.flex-left {
  flex: 1;
}
.info {
  margin-left: 10px;
  width: 250px;
  padding: 20px;
  color: #4d4d4d;
  border-radius: 8px;
  background: rgba(255,255,255,0.4);
}
.info-text {
  font-size: 14px;
  color: #4d4d4d;
  font-family: 'GothamProRegular', 'Comic Sans MS';
}
.info-name {
  font-size: 18px;
  color: #001074;
  font-family: 'GothamProBold', 'Comic Sans MS';
  margin-bottom: 10px;
}
.info-name div {
  font-size: 12px;
  color: #001074;
  font-family: 'GothamProBold', 'Comic Sans MS';
}
.first-block {
  display: flex;
  flex-direction: column;
  width: 80px;
  margin-left: 30px;
  padding: 20px;
  color: white;
  margin-right: 10px;
  margin-top: 100px;
  transition: 0.5s;
  border-bottom: 3px solid white;
}
.selected {
  border-bottom: 3px solid #1d232c;
}
